*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 8%;
	background: url(https://i.pinimg.com/originals/3f/6d/c1/3f6dc13764dfa160a1a9239d1939b25c.gif) fixed;
	background-size: cover;
    width: 99,5vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
    padding: 15px;
}

header{
    padding: 10px 0px 10px;
    box-shadow: 10px 0px 20px 15px #000000;
    background-color: #000000d2;
    text-align: center;
    position: fixed;
    inline-size: 100%;
    margin-top: -8%;
}

header > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

header > a:hover{
    border-radius: 10px;
    background-color: #00000094;
    box-shadow: 5px 15px 70px 10px black;
}

section{
    color: white;
    background-color: rgba(0, 0, 0, 0.747);
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    margin-top: 7%;
    box-shadow: 0px 50px 130px 50px rgba(0, 0, 0, 0.753);
}

section div h1{
    text-align: center;
}

section > div{
    padding: 15px;
}

#projetos{
    padding-left: 19px;
}

footer{
    color: white;
    text-align: center;
}

.hard-skills-image{
    background-color: rgba(128, 128, 128, 0.589);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    width: 15%;
    display: inline-block;
}

.hard-skills-image > img{
    width: 30px;
    height: 30px;
}

.hard-skills-image:hover{
    box-shadow: 10px 10px 50px 10px black;
    background-color: rgba(128, 128, 128, 0.726);
}

.certificados{
    text-align: center;
}

.projetos{
    text-align: center;
}

.projeto > a{
    text-decoration: none;
    color: white;
}

.projeto h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.projeto small{
    color: rgb(201, 199, 199);
}

.projeto picture img{
    border-radius: 10px;
    box-shadow: 0px 0px 60px 5px black;
    margin-bottom: 10px;
}

.projeto a{
    display: inline-block;
    border-width: 2px;
    margin: 20px;
    text-decoration: none;
    color: white;
}

.projeto a div{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.589);
    border-radius: 10px;
    text-decoration: none;
}

.projeto a div:hover{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 10px;
    text-decoration: none;
}

.projeto{
    background-color: rgba(128, 128, 128, 0.589);
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
}

@media (max-width:700px) {
    section{
        width: 90%;
    }
}
